<!--
  Version v0.0.4
  User songshuzhong@bonc.com.cn
  ------------------------------------------------------------
  Date         Author          Version            Description
  ------------------------------------------------------------
  2018年9月9日 songshuzhong    v0.0.4            采用sequelize持久化解决方案
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>
  <link rel="icon" href="/img/favicon.png">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript">
    var path = '{{ path }}';
    var version = '{{ version }}';
    var pageModel = '{{ pageModel }}';
  </script>
</head>
<body>
<div style="position: fixed; top: 20px; left: 20px; z-index: 999">
  <span class="glyphicon glyphicon-circle-arrow-left backicon" aria-hidden="true" style="font-size: 25px; cursor: pointer;" onclick="javascript:location.href = document.referrer;"></span>
</div>
<div id="previewHtml" class="container" style="width: 100%;"></div>
<script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script id="previewJs" type="text/javascript"></script>
<script id="template-creator" type="text/javascript">
  if ( pageModel ) {
    $( '#previewHtml' ).html( pageModel.pagePureText );
    $( 'head' ).html( $( 'head' ).html() + pageModel.pageStyle + pageModel.pageJs );
  }
</script>
<script id="previewEditorial">
  function previewEditorial( resCachedList, eText, eCs, eJs ) {
    var promises = [];
    $( '#previewJs' ).remove();
    $( '#previewHtml' ).html( eText );
    $( '#previewCss' ).html( eCs );
    for ( let i = 0, length = resCachedList.cs.length; i < length; i++ ) {
      if ( $( '#' + $( resCachedList.cs[ i ] ).attr( 'id' ) ).length === 0 )
        $( 'head' ).append( resCachedList.cs[ i ] );
    }

    for ( let i = 0, length = resCachedList.js.length; i < length; i++ ) {
      if ( $( '#' + $( resCachedList.js[ i ] ).attr( 'id' ) ).length === 0 ) {
        let script = document.createElement( 'script' );

        script.id = $( resCachedList.js[ i ] ).attr( 'id' );
        script.type = 'text/javascript';
        script.src = $( resCachedList.js[ i ] ).attr( 'src' );

        promises.push(new Promise(function (resolve, reject ) {
          script.onload = script.onreadystatechange = function() {
            if(!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete' ) {
              resolve();
            } else {
              reject();
            }
            script.onload = script.onreadystatechange = null;
          };
          script.onerror = function() {
            reject(this.src);
          }
        }));

        document.body.appendChild(script);
      }
    }

    Promise.all(promises).then(function() {
      let previewJs = document.createElement( 'script' );
      previewJs.type = 'text/javascript';
      previewJs.id = 'previewJs';
      previewJs.innerHTML = eJs;
      document.body.appendChild( previewJs );
    }).catch(function(reason) {
      console.log('资源加载失败：' + reason );
    });
  }
  $( '#template-creator' ).remove();
  $( '#previewEditorial' ).remove();
</script>
</body>
</html>
